.container {
    height: 3em;
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: 900;
    font-family: Arial, serif;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 15%;
}

button {
    border-radius: 5px;
    display: inline;
    border: none;
    color: white;
    padding: 0.8em 2em;
    /*padding: 15px 32px;*/
    margin: 4px 2px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.yesButton {
    background-color: green;
}

.yesButton:hover {
    transition-duration: 0.2s;
    background-color: #015601;
}

.yesButton:active {
    background-color: green;
    opacity: 1;
    transition: 0s;
}

.noButton {
    background-color: red;
}

.noButton:hover {
    background-color: #a11a01;
    transition-duration: 0.2s;
}

.noButton:active {
    background-color: red;
    transition: 0s;
}