.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-weight: 900;
    font-family: Arial, serif;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: 15em;
}

button {
    border-radius: 5px;
    display: inline;
    border: none;
    color: white;
    padding: 0.8em 2em;
    margin: 4px 2px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.yesButton {
    background-color: green;
}

.yesButton:hover {
    transition-duration: 0.2s;
    background-color: #015601;
}

.yesButton:active {
    background-color: green;
    opacity: 1;
    transition: 0s;
}

.noButton {
    background-color: red;
}

.noButton:hover {
    background-color: #a11a01;
    transition-duration: 0.2s;
}

.noButton:active {
    background-color: red;
    transition: 0s;
}